* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30c0df;
}

#canvas {
    background-color: #30c0df;
    display: block;
    max-width: 100%;
    max-height: 100%;
}